/* stickies */
body.stickies {
	margin: 0;
}

body.stickies > header {
	box-sizing: border-box;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

body.stickies > header .ur {
	text-align: right;
}

body.stickies > main {
	padding: 10px;
}

/* custom checkboxes */
.custom-checkbox > input { display: none }
.custom-checkbox > input:not(:checked) + * { display: none }
.custom-checkbox > input:checked + * + * { display: none }

/* tabs */
input.tab-activator { display: none }
input.tab-activator:not(:checked) + * { display: none }

/* reverse tabs */
input.reverse-tab-activator { display: none }
input.reverse-tab-activator:checked + * { display: none }

/* highlighting checkbox */
label.highlighting-checkbox > input {
	display: none;
}

/* circular element */
.circle {
	border-radius: 50%;
}

/* noprint */
@media print {
	.noprint { display: none}
}

/* printonly */
@media aural, braille, embossed, handheld, projection, screen, tty, tv {
	.printonly { display: none}
}

/* nowrap */
.nowrap {
	white-space: nowrap;
}

/* highlight next element */
input.highlight-next-element:checked + * { background-color: yellow }